package icons

templ AlignHorizontalSpaceBetween(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<rect width="6" height="14" x="3" y="5" rx="2"></rect>
		<rect width="6" height="10" x="15" y="7" rx="2"></rect>
		<path d="M3 2v20"></path>
		<path d="M21 2v20"></path>
	}
}
