package icons

templ AlignRight(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M21 12H9"></path>
		<path d="M21 18H7"></path>
		<path d="M21 6H3"></path>
	}
}
