package icons

templ Baseline(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M4 20h16"></path>
		<path d="m6 16 6-12 6 12"></path>
		<path d="M8 12h8"></path>
	}
}
