package icons

templ ChevronsLeftRight(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="m9 7-5 5 5 5"></path>
		<path d="m15 7 5 5-5 5"></path>
	}
}
