package icons

templ CircleArrowOutUpRight(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M22 12A10 10 0 1 1 12 2"></path>
		<path d="M22 2 12 12"></path>
		<path d="M16 2h6v6"></path>
	}
}
