package icons

templ CirclePlay(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<circle cx="12" cy="12" r="10"></circle>
		<polygon points="10 8 16 12 10 16 10 8"></polygon>
	}
}
