package icons

templ Clock5(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<circle cx="12" cy="12" r="10"></circle>
		<polyline points="12 6 12 12 14.5 16"></polyline>
	}
}
