package icons

templ CodeXml(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="m18 16 4-4-4-4"></path>
		<path d="m6 8-4 4 4 4"></path>
		<path d="m14.5 4-5 16"></path>
	}
}
