package icons

templ Computer(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<rect width="14" height="8" x="5" y="2" rx="2"></rect>
		<rect width="20" height="8" x="2" y="14" rx="2"></rect>
		<path d="M6 18h2"></path>
		<path d="M12 18h6"></path>
	}
}
