package icons

templ Contrast(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<circle cx="12" cy="12" r="10"></circle>
		<path d="M12 18a6 6 0 0 0 0-12v12z"></path>
	}
}
