package icons

templ CornerRightUp(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<polyline points="10 9 15 4 20 9"></polyline>
		<path d="M4 20h7a4 4 0 0 0 4-4V4"></path>
	}
}
