package icons

templ CornerUpRight(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<polyline points="15 14 20 9 15 4"></polyline>
		<path d="M4 20v-7a4 4 0 0 1 4-4h12"></path>
	}
}
