package icons

templ CornerLeftDown(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<polyline points="14 15 9 20 4 15"></polyline>
		<path d="M20 4h-7a4 4 0 0 0-4 4v12"></path>
	}
}
