package icons

templ CornerRightDown(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<polyline points="10 15 15 20 20 15"></polyline>
		<path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
	}
}
