package icons

templ GalleryHorizontalEnd(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M2 7v10"></path>
		<path d="M6 5v14"></path>
		<rect width="12" height="18" x="10" y="3" rx="2"></rect>
	}
}
