package icons

templ GitGraph(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<circle cx="5" cy="6" r="3"></circle>
		<path d="M5 9v6"></path>
		<circle cx="5" cy="18" r="3"></circle>
		<path d="M12 3v18"></path>
		<circle cx="19" cy="6" r="3"></circle>
		<path d="M16 15.7A9 9 0 0 0 19 9"></path>
	}
}
