package icons

templ GitCommitVertical(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M12 3v6"></path>
		<circle cx="12" cy="12" r="3"></circle>
		<path d="M12 15v6"></path>
	}
}
