package icons

templ Heading4(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M12 18V6"></path>
		<path d="M17 10v3a1 1 0 0 0 1 1h3"></path>
		<path d="M21 10v8"></path>
		<path d="M4 12h8"></path>
		<path d="M4 18V6"></path>
	}
}
