package icons

templ Heading(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M6 12h12"></path>
		<path d="M6 20V4"></path>
		<path d="M18 20V4"></path>
	}
}
