package icons

templ IndentIncrease(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M21 12H11"></path>
		<path d="M21 18H11"></path>
		<path d="M21 6H11"></path>
		<path d="m3 8 4 4-4 4"></path>
	}
}
