package icons

templ IterationCcw(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M20 10c0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8h8"></path>
		<polyline points="16 14 20 18 16 22"></polyline>
	}
}
