package icons

templ Kanban(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M6 5v11"></path>
		<path d="M12 5v6"></path>
		<path d="M18 5v14"></path>
	}
}
