package icons

templ ListMusic(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M21 15V6"></path>
		<path d="M18.5 18a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path>
		<path d="M12 12H3"></path>
		<path d="M16 6H3"></path>
		<path d="M12 18H3"></path>
	}
}
