package icons

templ ListVideo(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M12 12H3"></path>
		<path d="M16 6H3"></path>
		<path d="M12 18H3"></path>
		<path d="m16 12 5 3-5 3v-6Z"></path>
	}
}
