package icons

templ ListStart(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M16 12H3"></path>
		<path d="M16 18H3"></path>
		<path d="M10 6H3"></path>
		<path d="M21 18V8a2 2 0 0 0-2-2h-5"></path>
		<path d="m16 8-2-2 2-2"></path>
	}
}
