package icons

templ MarsStroke(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="m14 6 4 4"></path>
		<path d="M17 3h4v4"></path>
		<path d="m21 3-7.75 7.75"></path>
		<circle cx="9" cy="15" r="6"></circle>
	}
}
