package icons

templ MonitorCheck(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="m9 10 2 2 4-4"></path>
		<rect width="20" height="14" x="2" y="3" rx="2"></rect>
		<path d="M12 17v4"></path>
		<path d="M8 21h8"></path>
	}
}
