package icons

templ SquareTerminal(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="m7 11 2-2-2-2"></path>
		<path d="M11 13h4"></path>
		<rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
	}
}
