package icons

templ StepForward(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<line x1="6" x2="6" y1="4" y2="20"></line>
		<polygon points="10,4 20,12 10,20"></polygon>
	}
}
