package icons

templ TableOfContents(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M16 12H3"></path>
		<path d="M16 18H3"></path>
		<path d="M16 6H3"></path>
		<path d="M21 12h.01"></path>
		<path d="M21 18h.01"></path>
		<path d="M21 6h.01"></path>
	}
}
