package icons

templ TextQuote(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@SVG(p) {
		<path d="M17 6H3"></path>
		<path d="M21 12H8"></path>
		<path d="M21 18H8"></path>
		<path d="M3 12v6"></path>
	}
}
